html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color:rgb(141, 214, 243, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    
}
.menu {
    width: 15%;
    background-color: rgb(240, 231, 231);
    padding: 10px 20px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-style: oblique;
    color: rgb(141, 214, 243);
}
.header {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
}
.content {
    background-color: rgb(141, 214, 243, 0.5);
    min-height: 300px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.footer {
    background-color: rgb(240, 231, 231);
    min-height: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
